.nav-right {
    visibility: hidden;  /* keeps space reserved */
}

/* About Us Hero Section */
.about-us {
    min-height: 100vh;
    padding: 0 1.5%;
    box-sizing: border-box;      
}

.about-hero {
    color: #fff;
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;         
    width: 100%;
    padding: 4rem 1.5%;
    box-sizing: border-box;  
}

.about-hero-content {
    margin: auto;
    padding: 0% 3%;
}

.about-hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.4;
}

/* Social Icons */
.social-icons {
    align-self: flex-end;
    margin-top: auto;
}

/* Mission Hero Section */
.mission-hero {
    color: #fff;
    position: relative;
    display: flex;
    width: 100%;
    padding: 2rem 30%;   /* consistent spacing */
    box-sizing: border-box;  
}

.mission-hero-content {
    margin: 0 auto;
}

.mission-hero h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.mission-text {
    font-size: 1.2rem;
    line-height: 1.4;
}

/* Team Section */
.team {
    padding: 2rem 10%;
    text-align: center;
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #fff;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.team-member {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: #fff;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.team-member h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.team-member .role {
    display: inline-block;
    background: rgba(35, 80, 255, 0.9);
    color: #fff;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.team-member p {
    font-size: 0.95rem;
    line-height: 1.5;
}

/* Adjust for small screens */
@media (max-width: 600px) {
    .about-hero {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .about-hero-content {
        padding-top: 0;
        padding-left: 10%;
        margin: 0 auto;
     }
     
     .about-hero-content h1 {
        width: 100%;
        padding: 0 1rem 0 1.5%;
    }     

    .social-icons {
        transform: none;
        flex-direction: row;
        margin: 1rem auto;
        padding: 7% 0 0 5%;
    }

    .mission-hero {
        padding: 0 20%;
        text-align: center;
    }    

    .mission-hero-content {
        padding-top: 0;
        margin: 0 auto;
     }
     
     .mission-hero-content h1 {
        width: 100%;
        padding: 0 1rem 0 1.5%;
    }     
}

@media (max-width: 300px) {
    .team-member {
        padding-right: 15%;
        margin-right: 15%;
    }      
}

  