.nav-right {
    visibility: hidden;  /* keeps space reserved */
}

/* Contact Hero Section */
.contact-hero {
    color: #fff;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    min-height: 100vh;
    padding: 0 1.5%;
    box-sizing: border-box;  
}

/* Left Hero Content */
.contact-hero-content {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
}

.contact-hero-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Right Contact Form */
.contact-form-container {
    flex: 1;
    max-width: 800px;
    margin: 3% 5%; 
    padding: 2rem;
    border-radius: 10px;
}

.contact-form .form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #ddd;
}

.contact-form input,
.contact-form textarea {
    padding: 0.8rem;
    border: 1px solid #999;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #00bcd4;
    background: rgba(255, 255, 255, 0.2);
}

/* Submit button */
.btn-submit {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: rgba(35, 80, 255, 0.8);
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn-submit:hover {
    background: #008080;
}

/* Responsive */
@media (max-width: 600px) {
    .contact-hero {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .contact-hero-content {
       padding-top: 0;
       margin: 0 auto;
    }
    
    .contact-hero-content h1 {
        width: 100%;
        padding: 0 1rem 0 1.5%;
    }    

    .contact-form-container {
        width: 100%;
    }

    .social-icons {
        transform: none;
        flex-direction: row;
        margin: 1rem auto;
        padding: 7% 0 0 15%;
    }
}

